name: Build docs

on:
  push:
    branches:
     - master
     - develop
  pull_request:

jobs:
  docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.9.18" ]
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt   

    - name: Prepare required software
      run: |
        # epstopdf & dot & noto-fonts
        sudo apt update && sudo apt install texlive-font-utils graphviz fonts-noto\

    - name: Build docs
      run: |
        sphinx-build -M html docs/ docs/_build/

    - name: Build LaTeX docs
      run: |
        sphinx-build -M latex docs/ docs/_build/

    - name: Compile LaTeX document
      uses: docker://texlive/texlive:latest
      with:
        args: make -C docs/_build/latex
    - run: |
        cp docs/_build/latex/ontolearn.pdf docs/_build/html/

    - name: Deploy to netlify
      uses: nwtgck/actions-netlify@v1.2
      with:
        publish-dir: 'docs/_build/html'
        production-branch: develop
        github-token: ${{ secrets.GITHUB_TOKEN }}
        deploy-message: "Deploy from GitHub Actions ${{ github.sha }}"
        alias: ${{ github.head_ref }}
        enable-pull-request-comment: false
        enable-commit-comment: false
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      timeout-minutes: 5
