name: Python package

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10.13"]
      max-parallel: 5
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install -e .
          

      - name: Test with pytest
        run: |
          wget https://files.dice-research.org/projects/Ontolearn/KGs.zip
          wget https://files.dice-research.org/projects/Ontolearn/LPs.zip
          unzip KGs.zip && unzip LPs.zip
          pytest -p no:warnings -x